$defaultFont: 'Ubuntu Mono', monospace;
$dark-gray: rgb(22, 22, 22);
$light-green: rgb(22, 165, 22);
$dark-blue: rgb(20, 2, 61);

body {
    display: grid;
    min-height: 100vh;
    grid-template-rows: .5fr 1.5fr 1.5fr .5fr;
    grid-template-columns: 1fr;
    grid-template-areas: 'header'
                         'section'
                         'main'
                         'footer';
    background: $dark-gray;
    color: $light-green;
}

h1 {
    font-family: $defaultFont; 
    font-size: 2.5rem; 
}

h2 {
    font-size: 1.5rem;
    font-family: $defaultFont;
}

td {
    height: 20px;
    padding: 0 10px;
}

header {
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: $dark-blue; 
}

footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: $dark-blue;
}

section {
    grid-area: section;
}

main {
    grid-area: main;
}

.score-table {
    display: flex;
    text-align: left;
    font-size: 1rem;
    color: invert($dark-gray);
    padding: 1rem 1rem;
}

#message {
    text-align: center;
    display: none;
}

#description {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
    color: invert($dark-gray);
    padding: 5rem 1rem;
}

#command {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: $defaultFont;
    font-size: 1.5rem;
    color: green;
}

#command .letter {
    padding: 0 .5rem;
}


@media screen and (min-width: 1400px) {
    #mobile-input {
        display: none;
    }
}

@media screen and (min-width: 1000px) {
}

@media screen and (min-width: 500px) {
}

@media screen and (min-width: 300px) {
    #mobile-input {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        height: 1px;
        background-color: $dark-gray;
    }

    input[type="text"] {
        background-color: $dark-gray;
        outline: 0;
        box-shadow:none !important;
        border:1px solid $dark-gray !important;
        color: $dark-gray;
        font-size: 16px;
        caret-color: transparent;
    }
}